# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env
.env.*

# Database
db.sqlite3

# Static & Media
staticfiles/
media/

# Logs
*.log

# Firebase
config/firebase/service-account.json

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Migrations cache
*.pyc